@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

.cont-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}


#aviso{
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  background: #F1FFF9;
  border: 1px solid #1111113d;
  padding: .5rem;
  border-radius: 15px;
  text-align: center;
}


#aviso2{
  position: fixed;
  min-width: 25%;
  width: auto;
  height: 25%;
  top: 37.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  background: #F1FFF9;
  border: 1px solid #1111113d;
  padding: .5rem;
  border-radius: 15px;
}

form a{
  color: #0cb476;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background: #f1fff9;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .cont-sair{
    max-width:600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  
  }



  .cont-sair a{
    color: #172627;
  }
  
  form {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
  }
  
  h2 {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    text-transform: uppercase;
    color: #172627;
    background: rgba(51, 51, 51, 0.041);
    padding: .5rem;
    border-radius: 5px;
  }

  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    transition: 0.2s;
  }
  
  button {
    background-color: #0cb476;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0cb476;
  }

  input{
    max-width: 100%;
    outline: none;
    background: transparent;
    color: #172627;
    border: 0;
    position: relative;
    font-size: 16px;
    padding: .3rem;    
    padding-left: 3.5rem;

    margin-bottom: 16px;
    border-bottom: 1px solid #172627;
    
}

input:hover{
    border-bottom: 1px solid #0cb476;

}

input[name="telefone"]{
  padding-left: 5rem;

}

label{
  max-width: 100%;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    color: #0cb476;
}

input:focus {
    padding-top: 1.5rem;
    padding-left: 0;
}

label[for="bairro"], label[for="tipo_lixo"], label[for="imagem"]{
    position: relative;
}

#inputFile{
    padding: 0;
}

select{
    border-radius: 10px;
    margin-bottom: 16px;
}

select:hover{
    border:1px solid #0cb476;
}

select:focus{
    border:1px solid #0cb476;
}

#preview {
    max-width: 100%;
    max-height: 150px;
    margin-top: 16px;

  }

  @media screen and (max-width: 200px) {

    .form{
      max-width: 100%;
      padding: 5vh;
    }

    h1{
      font-size: larger;
    }

    h2{
      max-width: 95%;
      font-size: large;
    }
    h2 img{
      width: 24px;
      height: 24px;
    }

    input, label{
      max-width: 95%;
    }
  }

  @media screen and (max-width: 200px) {

    *{
        font-size:small;
    }


    #gt_float_wrapper{
        display: none;
    }

    .enabled{
        display: none;

    }

    #rodape-cont .titulo{

        padding: .1rem;
  }

  .rodape-icon img{
    display: none;
  }

  div[vw].enabled {
    display: none;
    visibility: hidden;
   }

   [vw] [vw-access-button].active {
    display: none;
    visibility: hidden;
}

   [vw] [vw-access-button] img{
    display: none;
    visibility: hidden;
   }
}
.mostrarsenha1{
  position: relative;
}
.mostrarsenha1 i{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 25px;
}

.b{
  color: rgba(201, 31, 31, 0.74);
}