@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;700;800&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        scroll-behavior: smooth;
        list-style: none;
        scrollbar-width: thin;
        scrollbar-color: #056839 #000 #172627
        ;
      }
      
      *::-webkit-scrollbar {
          width: 5px;
        }
        
        *::-webkit-scrollbar-track {
          background: #000;
        }
        
        *::-webkit-scrollbar-thumb {
          background-color: #056839;
        }
      

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F1FFF9;
        scroll-behavior: smooth;
    }


    #inicio-cont{
        padding: 2.5vh;
        width: 100%;
        min-height: 100vh;
        background-position: right;
        font-size: 17.5px;
        background: url(../imgs/fundoinicio.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    

    .recicla-img{
        position: absolute;
        left: 57.5%;
        top: 27.5%;
        display: none;
    }

    .menu a{
        color: #172627;
        padding: .5rem;

        cursor: pointer;
        transition: 0.3s ;
        border-radius: 5px;
    }
    .menu a:hover{
        color: #24CA8C;
        background: #24ca8d18;
    }

    .menu{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .menu img{
        height: 5rem;
    }

    .menu ul{
        position: relative;
        list-style: none;
        width:auto;
        height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu .submenu {
        width: auto;
        display: none;
        background: #F1FFF9;
        position: absolute;
        padding: .5rem;
        margin: .05rem;
        transition: 0.3s;
        z-index: 1;
    }
    
    .menu li:hover .submenu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .menu .submenu a {
        width: 100%;
        padding: 0;
        margin: 0;
        color: #172627;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
        border-bottom: 1px solid #24CA8C;
    }
    
    /* Submenu: trocar hover por clique + alinhamento perfeito abaixo do <li> */
.menu li.has-submenu {
  position: relative; /* ancora o submenu no próprio <li> */
}

/* desativa o hover antigo */
.menu li:hover .submenu {
  display: none;
}

/* abre via classe adicionada no clique */
.menu li.submenu-open > .submenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Desktop: submenu abaixo do <li>, sem "empurrar" layout e sem sair da tela */
.menu .submenu {
  display: none;
  position: absolute;
  top: calc(100% + .25rem);
  left: 0;
  width: max-content;
  max-width: min(320px, 90vw);
  background: #172627;
  padding: .5rem .75rem;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 8px 24px rgba(0,0,0,.25);
}

/* Itens do submenu: branco */
.menu .submenu a {
  color: #F1FFF9 !important;
  border-bottom: 1px solid rgba(241,255,249,.25);
  padding: .35rem 0;
}

/* Mobile: submenu deve ficar alinhado "abaixo" dentro do painel, sem sair da página */
@media only screen and (max-width: 849px) {
  .menu li.submenu-open > .submenu {
    display: flex;
  }

  .menu .submenu {
    position: static;
    width: 100%;
    max-width: 100%;
    background: transparent;
    box-shadow: none;
    padding: .25rem 0 0 0;
    margin: .25rem 0 0 0;
    border-radius: 0;
  }

  .menu .submenu a {
    color: #F1FFF9 !important;
    width: 100%;
    border-bottom: 1px solid rgba(241,255,249,.15);
  }
}

    .texto-desc{
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .texto-cont{
        width:35%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    .titulo-texto-inicio{
        font-weight: 600;
        font-size: 24px;
        margin-bottom: .5rem;
    }

    .texto-cont img{
        transform: rotate(180deg);
    }

    .texto-cont a{
        animation: moveUpDown 1s infinite; 
    }
    
    @keyframes moveUpDown {
      0%, 100% {
        transform: translateY(0); 
      }
      50% {
        transform: translateY(-15px);
      }
    }


    #func-cont {
        padding: 5vh 2.5vh;
        padding-bottom:0 ;
        width: 100%;
        min-height: 65vh;
        height: auto;
        color: #F1FFF9;
        background-color: #172627;
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;

    }

    .titulo b{
        color: #24CA8C;
    }



    .blog, .mapa, .dia, .edit{
        max-width: 1000px;
        background:#24CA8C ;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #F1FFF9;
        padding: .5rem;
        height: auto;
    }


    .mapa img{
        max-width: 100%;
        max-height: 400px;
        width: auto;
        height: auto;
        border-radius: 5px;

    }

    .blog .titulo, .edit .titulo, .dia .titulo{
        width: 50%;
        height: auto;
        display: flex;
        align-items: flex-start;
        color: #F1FFF9;
    }

    .mapa .titulo{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        margin: 2.5rem 0;
    }


    .blog p{
        text-align:left;
    }

    .blog .titulo img, .mapa .titulo img, .dia .titulo img ,.edit .titulo img{
        width: 48px;
        height: 48px;
        margin-right: 1rem;
        display: block;
    }

    .titulo {
        grid-area: 1 / 1 / 2 / 2;
     }
    .blog { 
        grid-area: 2 / 1 / 3 / 2;
     }
    .mapa { 
        grid-area: 1 / 2 / 3 / 3;
     }
    .dia { 
        grid-area: 1 / 3 / 2 / 4;
     }
    .edit { 
        grid-area: 2 / 3 / 3 / 4;
     }

     #arvore-cont{
        position: relative;
        background: #172627;
        width: 100%;
        height: 35vh;
        display: flex;
        align-items: flex-end;
     }

     #arvore-cont img{
        width: 100%;
     }


     #blog-cont{
        width: 100%;
        min-height: 100vh;
        padding: 2.5vh;
        display: flex;
        flex-direction: column;
        background-size: cover;
    }

    #blog-cont .titulo{
        color: #172627; 
    }

    .carousel-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 1rem 0;
      }
  
      .carousel {
        width: 100%;
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
  
      .carousel-item {
        width: calc(95% / 3); /* Garante que os itens ocupem 1/3 da largura do contêiner */
        height:30rem;
        box-sizing: border-box;
        flex: 0 0 auto;
        border-radius: 5px;
        margin: 0 1%;
        background: #F1FFF9;
        box-shadow: inset 0px 0px 52px -34px #17262793;
        border-radius: 10px;
        border: 1px solid #24ca8d63;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .desc-noticia-cont{
        width: 100%;
        flex-grow: 1;
        color: #172627;
        overflow: hidden;
        padding: 0 .5rem;
        margin: .5rem 0;
      } 

      .carousel-item a{
        cursor: pointer;
        background-color: #24CA8C;
        color: #F1FFF9;
        border: none;
        padding: .5rem;
        border-radius: 0 0 5px 5px;
      }

      .carousel-item img{
        width: 100%;
        height: 60%;
        border-bottom: 2px solid #17262710;
        border-radius: 10px 10px 0px 0px;
      }

  
      .button-container {
        text-align: center;
        margin-top: 10px;
      }
  
      .carousel-button {
        cursor: pointer;
        background-color: #172627;
        color: #F1FFF9;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        margin: 0 5px;
        border-radius:10px;
      }

    #rodape-cont{
        padding: 2.5vh;
        width:100%;
        height: auto;
        background: #172627;
        color: #F1FFF9;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .rodape-icon{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 3;
        height: 25vh;
    }
    .rodape-icon img{
        width: 6rem;
        height: 5rem;
    }

    .rodape-menu,.rodape-contatos{
        flex-grow: 1;
        min-height: 25vh;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        border-left: 2px solid #F1FFF9;
    }


    #rodape-cont .titulo{
        color: #24CA8C;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 24px;
    }

    .rodape-menu a, .rodape-contatos a{
        text-decoration: none;
        color:#F1FFF9;
        margin-bottom: 5rem;
    }


     @media screen and (max-width: 875px) and (min-width:500px) {
        .texto-cont{
            width:75%;
        }
     }


     @media screen and (max-width: 875px) {
        #inicio-cont{
            background: #F1FFF9;
        }

        .titulo-texto-inicio{
            color: #24CA8C;
        }
     }



     @media only screen and (max-width: 900px) and (min-width:850px) {
        
        #func-cont {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        .texto-cont{
            width:45%;
        }

        .titulo { grid-area: 1 / 1 / 2 / 2; }
        .blog { grid-area: 2 / 1 / 3 / 2; }
        .mapa { grid-area: 1 / 2 / 3 / 3; }
        .dia { grid-area: 3 / 1 / 4 / 2; }
        .edit { grid-area: 3 / 2 / 4 / 3; }

     }

     @media only screen and (max-width: 650px){
        .menu{
            align-items: center;
            justify-content: center;
        }

        .rodape-menu{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

     }

     @media only screen and (max-width: 849px) and (min-width:500px){
        #func-cont {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: .2fr repeat(2, 1fr);
            grid-column-gap: 7.5px;
            grid-row-gap: 7.5px;
        }

        .titulo { grid-area: 1 / 1 / 2 / 3; }
        .blog { grid-area: 2 / 1 / 3 / 2; }
        .mapa { grid-area: 2 / 2 / 3 / 3; }
        .dia { grid-area: 3 / 1 / 4 / 2; }
        .edit { grid-area: 3 / 2 / 4 / 3; }
        
    }

    @media only screen and (max-width: 499px){

        #inicio-cont{
            padding: 1vh;
            align-items: center;
        }
        .texto-cont{
            width:100%;
            text-align: center;
        }


        #func-cont {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: .5fr repeat(4, 1.2fr);
            padding: 1vh;
        }

        .titulo { grid-area: 1 / 1 / 2 / 2; }
        .blog { grid-area: 2 / 1 / 3 / 2; }
        .mapa { grid-area: 3 / 1 / 4 / 2; }
        .dia { grid-area: 4 / 1 / 5 / 2; }
        .edit { grid-area: 5 / 1 / 6 / 2; }

        .texto-cont img{
            margin-top: 1rem;
        }

        .menu ul {
            align-items: center;
            justify-content: center;
        }

        .rodape-icon img{
            width: 4rem;
            height: 3rem;
        }
    
    
    #rodape-cont .titulo{
            color: #24CA8C;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
        }

        .rodape-icon{
            font-size: 12.5px;
        }

    }


    @media screen and (max-width: 800px) {
        .carousel-item {
          width: calc(95% / 2); /* Em telas menores, mostra dois itens por vez */
          margin: 0 1.25%;
        }
      }
  
      @media screen and (max-width: 400px) {

        *{
            font-size:medium;
        }
        .carousel-item {
          width: 95%;
          margin: 2.5%;
        }
      }


      /*flip*/
      .activate-button {
        background: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        position: relative;
        border: none;
        cursor: pointer;

    }

    .activate-button img{
        width: 30px;
        height: 30px;
        z-index: 2;
    }
    .flip-card-inner {
        width: 100%;
        height: auto;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        color: #F1FFF9;
    }

    .flip-card-inner.active {
        transform: rotateY(-180deg);
    }

    .flip-card-front {
        transition:  0.5s;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flip-card-back{
        display: none;
    }


    .flip-card-inner.active .flip-card-front {
        
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
 
    }

    .flip-card-inner.active .titulo {
        width: 100%;
 
    }


    .flip-card-inner.active .flip-card-back {
        display: block;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .flip-card-inner.active .titulo {
        margin: .5rem 0;
    }


    @media screen and (max-width: 200px) {

        *{
            font-size:small;
        }


        #gt_float_wrapper{
            display: none;
        }

        .enabled{
            display: none;

        }

        #rodape-cont .titulo{

            padding: .1rem;
      }

      .rodape-icon img{
        display: none;
      }

      div[vw].enabled {
        display: none;
        visibility: hidden;
       }

       [vw] [vw-access-button].active {
        display: none;
        visibility: hidden;
    }

       [vw] [vw-access-button] img{
        display: none;
        visibility: hidden;
       }
    }

    /* botões do menu responsivo */
.menu-icon,
.menu .close-icon {
  display: none;
}

.menu-icon img,
.menu .close-icon img {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

/* painel lateral do menu em telas menores */
@media only screen and (max-width: 849px) {
  .menu {
    position: relative;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
    padding: .5rem;
  }

  .menu ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    max-width: 360px;
    background: #172627;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: .75rem;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    z-index: 999;
  }

  .menu ul.active {
    transform: translateX(0);
  }

  .menu .close-icon {
    display: none;        /* controlado via JS */
    align-self: flex-end;
    margin-bottom: .5rem;
  }

  .menu a {
    color: #F1FFF9;
    padding: .5rem 0;
  }

  /* submenus estáticos em mobile (evitar hover) */
  .menu .submenu {
    position: static;
    display: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }

  /* opcional: manter oculto no hover em mobile */
  .menu li:hover .submenu {
    display: none;
  }
}

/* FIX: não desabilitar hover globalmente (isso quebra outros submenus).
   Mantém hover para lis que NÃO são "Serviços" e bloqueia hover só na .has-submenu. */
.menu li.has-submenu:hover > .submenu {
  display: none !important;
}
.menu li:not(.has-submenu):hover > .submenu {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}

/* FIX: clique abre o submenu somente na li.has-submenu */
.menu li.has-submenu.submenu-open > .submenu {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}

/* FIX mobile: submenu não pode "bugar" o painel (permitir scroll) */
@media only screen and (max-width: 849px) {
  .menu { justify-content: space-between !important; } /* evita conflito com o @media 650px */

  .menu ul {
    overflow-y: auto; /* submenu pode crescer sem estourar a tela */
  }

  /* garante abertura por clique também no mobile */
  .menu li.has-submenu.submenu-open > .submenu {
    display: flex !important;
    position: relative;
    width: 100%;
    height: auto;
    left: -100%;
    top: 0;
    margin: 0.5rem;
    overflow: hidden;
  }
}









